__pycache__/
.snakemake/
.ipynb_checkpoints/
core.*
*.fasta*
# explicitly include these because they're not that big
!lowAF_variant_calling/data/trees/SNP_concatenate_filtered.fasta*
!lowAF_variant_calling/data/trees/*/SNP_concatenate_filtered.fasta*

*.gz
TRUST_data_processing/processed_data/
TRUST_data_processing/raw_data/

# explicitly include just this one because it's not that big
!H37Rv/h37Rv_coords_to_gene.csv.gz
